.app {
  width: 98%;
  height: 96vh;
  background-color: #fdfdfd;
  transform: translate(1%, 2vh);
  /* flex properties*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 780px) {
  .app {
    overflow: scroll;
    flex-direction: column;
    justify-content: initial;
  }
}

@media (max-width: 360px) {
  .app {
    overflow: scroll;
  }
}
